List

In [ ]:
#1. Sum All the Items in a List
num = [1, 2, 3, 4, 5, 6, 7, 8]
sum = 0
for n in num:
    sum += n    
print(f"Sum of all items: {sum}")

Sum of all items: 36

In [ ]:
#2. Get the Largest and Smallest Number from a List without Built-in Functions
num = [3, 5, 1, 2, 9, 7, 4]
# Initialize variables to store the largest and smallest number
# Start with the first element in the list as both the largest and smallest
largest = num[0]
smallest = num[0]
# Loop through the list to compare each element
for n in num:
    if n > largest:
        largest = n
    if n < smallest:
        smallest = n
print(f"Largest number: {largest}")
print(f"Smallest number: {smallest}")

Largest number: 9
Smallest number: 1

In [ ]:
#3. Find Duplicate Values from a List and Display Those
num = [1, 2, 3, 4, 4, 5, 1, 8, 2]
duplicates = [] # Initialize an empty list to store duplicates
same = set() # Create a set to track seen elements
# Loop through the list to find duplicates
for n in num:
    if n in same:
        if n not in duplicates:
            duplicates.append(n)
    else:
        same.add(n)
print(f"Duplicate values: {duplicates}")

Duplicate values: [4, 1, 2]

In [ ]:
#4. Split a List into Two Parts with Given Length for the First Part
num = [1, 1, 2, 3, 4, 4, 5, 1]
len = 3 # Length of the first part
# The first part will contain the first 'n' elements
# The second part will contain the remaining elements
first = num[:len]
next = num[len:]
print("Splitted list into two parts:")
print(f"First part: {first}")
print(f"Second part: {next}")

Splitted list into two parts:
First part: [1, 1, 2]
Second part: [3, 4, 4, 5, 1]

In [ ]:
colors = ['red', 'green', 'white', 'black']
print("List in reverse order:")
# Iterate and Traverse the list in reverse order and print each element 
for i in range(len(colors) -1, -1, -1):
    print(colors[i])

List in reverse order:
black
white
green
red

Dictionary

In [ ]:
#1. Calculate the Mean of Values in a Dictionary
test_dict = {"A": 6, "B": 9, "C": 5, "D": 7, "E": 4}
mean = sum(test_dict.values()) / len(test_dict)  # Calculate the mean
print(f"Mean of the dictionary values: {mean}")

Mean of the dictionary values: 6.2

In [ ]:
#2. Concatenate Multiple Dictionaries into a New One
dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}
combined_dict = {**dic1, **dic2, **dic3}  # Concatenate dictionaries
print(f"Concatenated dictionary: {combined_dict}")

Concatenated dictionary: {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
#3. Print Keys and Values of a Dictionary in a Table Format
dict_num = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
print("Key  Value")
# Iterate over each Keys and Values to print in table format
for key, value in dict_num.items():
    print(f"{key:<4} {value}")

Key  Value
1    10
2    20
3    30
4    40
5    50
6    60

In [ ]:
# 4. Print Keys and Values of a Dictionary by Removing Empty Items 
input_dict = {1: 10, 2: 20, 3: None, 4: 40, 5: None, 6: 60}
# Removing items with None values
filtered_dict = {key: value for key, value in input_dict.items() if value is not None}
print(f"Dictionary with Empty Items Dropped: {filtered_dict}")

Dictionary with Empty Items Dropped: {1: 10, 2: 20, 4: 40, 6: 60}

Tuple

In [ ]:
#1. Find the number of times 4 appears in the tuple
tuplex = (2, 4, 5, 6, 2, 3, 4, 4, 7)
count = tuplex.count(4)  # Occurrences of 4 is counted
print("Output:", count)

Output: 3

In [ ]:
#2. Convert a list to a tuple
listx = [5, 10, 7, 4, 15, 3]
tuplex = tuple(listx)  # Tuple is created from List
print("Output:", tuplex)

Output: (5, 10, 7, 4, 15, 3)

In [ ]:
#3. Calculate the sum of the numbers in a list of tuples
tuples_list = [(1, 2), (3, 4), (5, 6)]
total = sum(sum(t) for t in tuples_list)  # Calculate the sum of all values in the tuples
print("Sum of values in the tuples:", total)

Sum of values in the tuples: 21

In [ ]:
#4. Iterate and display the given employee tuples
employee1 = ("John Doe", 101, "Human Resources", 60000)
employee2 = ("Alice Smith", 102, "Marketing", 55000)
employee3 = ("Bob Johnson", 103, "Engineering", 75000)
employees = [employee1, employee2, employee3]
print("Employee Details: ")
# Iterate over each employee tuple and display information
for emp in employees: 
    name, emp_id, department, salary = emp
    print(f"Employee Name: {name}")
    print(f"ID: {emp_id}")
    print(f"Department: {department}")
    print(f"Salary: ${salary}")
    print()  # Blank line between every employees detail

Employee Details:
Employee Name: John Doe
ID: 101
Department: Human Resources
Salary: $60000

Employee Name: Alice Smith
ID: 102
Department: Marketing
Salary: $55000

Employee Name: Bob Johnson
ID: 103
Department: Engineering
Salary: $75000

Set

In [ ]:
#1. Get only unique items from two sets
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
unique_items = set1.union(set2)  # Get unique items from both sets (union)
print(f"Output: {unique_items}")

Output: {50, 20, 40, 10, 30}

In [ ]:
#2. Return a set of elements present in Set A or B, but not both
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
unique_items = set1.symmetric_difference(set2)  # Get elements that are in set1 or set2 but not in both (symmetric difference)
print(f"Output: {unique_items}")

Output: {20, 70, 10, 60}

In [ ]:
#3. Check if two sets have any elements in common and display the common elements
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}
common_elements = set1.intersection(set2) # Find common elements (intersection)
if common_elements:
    print("Output:", common_elements)
else:
    print("No common elements")

Output: {10}

In [ ]:
#4. Remove items from set1 that are not common to both set1 and set2
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.intersection_update(set2)  # Keep only items in set1 that are also in set2 (intersection)
print(f"Output: {set1}")

Output: {40, 50, 30}